main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    min-height: 100vh;
    background: url("../images/background.jpg");
    background-size: contain;
}

.alerta-mensagem{
    width: 300px;
    color: #FFFFFF;
}

.alerta-mensagem .titulo-alerta{
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.alerta-mensagem .texto-alerta{
    font-weight: 400;
    font-size: 1.5rem;
}

.formulario-ajuda{
    width: 340px;
    height: 378px;
    padding: 20px 15px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-ajuda .formulario-item{
    padding: 9px;
    font-size: 1.5rem;
    margin: 0 5px 15px 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.formulario-ajuda textarea.formulario-item{
    resize: none;
    height: 100px;
    font-family: "Roboto", sans-serif;
}

.formulario-ajuda input::placeholder, .formulario-ajuda textarea::placeholder{
    font-weight: 700;
    font-size: 1.5rem;
    color: #A8A8A8;
}

.formulario-ajuda .campo-preenchido{
    border: 1px solid #00C22B;
}

.formulario-ajuda .campo-obrigatorio{
    border: 1px solid #F52E2E;
}

label{
    position: relative;
}

.formulario-ajuda .texto-campo-obrigatorio{
    position: absolute;
    left: 5px;
    bottom: -15px;
    
    font-weight: 400;
    font-size: 0.8rem;
    color: #F52E2E;
}

.formulario-ajuda p{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.formulario-ajuda #btn-enviar{
    cursor: pointer;
    border-radius: 5px;
    background-color: #3CCC87;
    color: #FFFFFF;
    border:none;
    height: 42px;
    margin: 0 5px;
    font-weight: 700;
    font-size: 1.5rem;
    transition: 0.2s ease-in-out;
}

.formulario-ajuda #btn-enviar:hover{
    background-color: #27ff90;
}